#!/bin/sh

set -e

# Ensure virtual enrionment
. .venv/bin/activate

# Run pytest
pytest

# Ruff code and formatting check
ruff check --no-cache
ruff format --check --no-cache --silent

# Mypy
python -m mypy -p couchbase_helper

# Bandit
#bandit -r couchbase_helper/*

# Pylint
#pylint --disable=E0401 --max-line-length=120 couchbase_helper/

